.productthumb {
    width: 100%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
    padding: 15px;
}
.rice {
    margin-left: 247px;
    padding: 4px 18px 5px 16px;
    border-radius: 4px;
    color: #3BB77E;
    background-color: #DEF9EC;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    margin-bottom: 12px;
    transition: all 0.3s ease-in-out;
}
.rice:hover{
    background-color: #3BB77E;
    color:white ;
}