.home-products {
  padding: 20px 0px;
}

.filtertab {
  display: flex;
}

.newww {
  justify-content: space-between;
}

.filtertab li {
  position: relative;
  margin-left: 10px;
}

.filtertab li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.filtertab li a:hover {
  color: #3bb77e;
  transition: all 0.3s ease-in-out;
}

.home-products .productRow {
  display: flex;
  padding: 20px 0px;
}

.home-products .productRow .item {
  width: 20%;
  padding: 0px 15px;
  margin-top: 25px;
}

.row .hu {
  height: 620px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.row productRow .item {
  padding: 20px !important;
}

.topProductsSection {
  padding: 35px 0px;
}

.newsLetterSection {
  width: 100%;
  height: auto;
  position: relative;
}

.newsLetterSection .box {
  background: url(../../assets/images/banner-10.png);
  width: 100%;
  height: 540px;
  margin-top: -60px;
  margin-bottom: 40px;
  padding: 40px;
}

.newsLetterSection .box .info {
  width: 60%;
}

.newsLetterSection .box .info h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-left: 71px;
}

.newsLetterSection .box .info p {
  margin-left: 10%;
  font-size: 1.4rem;
  color: #7E7E7E;
}

.newsLetterSection .box .img {
  width: 40%;
  position: absolute;
  right: 50px;
  bottom: 0;}