.cartSection .counterSection2 {
    width: 80px;
    height: 50px;
    border: 1px solid #3bb77e;
    border-radius: 10px;
    overflow: hidden;
    padding: 4px;
    background-color: transparent; /* Ensure background is transparent */
}

.cartSection .counterSection2 input {
    width: 60px;
    height: 40px;
    border: 0px;
    outline: none !important;
    font-size: 20px;
    text-align: center;
    background-color: transparent; /* Ensure input background is transparent */
}

.cartSection .counterSection2 {
    position: relative;
}

.cartSection .counterSection2 .arrow {
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
    background-color: transparent; /* Ensure arrow background is transparent */
}

.cartSection .counterSection2 .arrow.plus {
    top: -2px;
    right: 1px;
}

.cartSection .counterSection2 .arrow.minus {
    bottom: -2px;
    right: 1px;
}
